node_modules/
go/
*.exe
*.msi
*.zip
.pytest_cache/
__pycache__/
*.log
crash*.txt
android/.gradle/
android/build/
android/app/build/
android/local.properties
receiver/receiver.build/
receiver/receiver.dist/
receiver/receiver.onefile-build/
windows.txt
test_*.py

